
manage_inventory/locales/da.json
manage_inventory/locales/cn.json
manage_inventory/locales/en.json
manage_inventory/locales/fr.json
manage_inventory/locales/ru.json
manage_inventory/README.md
manage_inventory/thumbnail.png
manage_inventory/views/main.html
manage_inventory/locales/it.json
manage_inventory/locales/es.json
manage_inventory/locales/de.json
