
<!-- Revision{28} -->
<!-- //Still adjusting visual appeal as I move towards a stable release[SWITCH TO SMALLER UI] -->
<!-- //Fourth revision testing merge with purchase totals[WORKS WELL, also limits characters to prevent expansion of UI] -->
<!-- //Functions have not been tested, focusing on visual appeal-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

	<h1>
	<div style="text-align:center">
    <i class="fa fa-archive"></i>
	Smart Inventory {Revision 28} H2O
	<i class="fa fa-times pull-right close-button"close-all-ui></i>
	</div>
	</h1>
	<h6>
	<div style="float:none;padding-left:320px;padding-right:320px;height:60px">   
	<form><input ng-model="smartinventoryCtrl.search"type="text"style="height:65px"
				placeholder="search for components..."/>
	</form>
	</div>		
	</h6>
	
	<div class="padding  smartinventory-dialog"
		 style="overflow:auto;height:auto;width:1367px;margin-bottom:0px;">
	
	<table>
	<thead>
	<tr>
<!--1--><td></td>
<!--2--><td localize="components"style="text-decoration:underline"></td>
<!--3--><td localize="inventory"style="text-decoration:underline;text-align:center"></td>
<!--4--><td></td>
<!--4--><td></td>
<!--5--><td></td>
        <td></td>
		<td localize="purchase"style="text-decoration:underline;text-align:center"></td>
	</tr>
	</thead>
	
	<tbody>
	<tr ng-repeat="component in smartinventoryCtrl.componentList()">
<!--1--><div style="float:left;margin:0px">
		<td><component class="small"component="::component"style="width:120px"></component></td><!--image of component-->
<!--2--><td localize="{{component.name}}"style="width:90px"></td><!--Names of components-->
<!--3--><td style="float:none;text-align:center;width:170px">{{component.inventory}}</td><!--Visible quantity-->
<!--4--></div>
		<td></td>		  
		<td></td>
		<td></td>
		<td></td>
		<!--5-->
		   <td style="float:none;text-align:center;width:290px">
				${{ smartinventoryCtrl.getPrice(component.name) }}
		   </td>
		   <div style="float:right">
			<td><input type="number"max="99999999"
			   	 ng-model="smartinventoryCtrl.quantity[component.name]"name="{{ component.name }}"
			 	 style="height:60px;width:200px">
			 			
			<button class="medium"ng-click="smartinventoryCtrl.buyComponents(component.name)"
				 localize="buy"style="width:162px;height:72px"></button>
		 
		    <button class="small red"ng-click="smartinventoryCtrl.sellComponents(component.name)"
					localize="sell"style="color:white;width:195px;height:52px"></button>
		 </td>
		</div>
		</tr>
	</tbody>
	</table> 
	</div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!--Need to add function to function??;)button class="medium" ng-click="smartinventoryCtrl.buyComponents(null, true)"style="width: 150px; margin: 0 auto 0 auto;" localize="buy-all"/button>-->

<!--Revised by Austin Clearwater 07/15/2019-->
